<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Workout!"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JieunWorkoutTracker"
        tools:targetApi="35">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2201141547916408~1296910428" />

        <activity
            android:name=".MainActivityExerciseList"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArchivedExerciseList"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ShowProgressActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".StartWorkoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ShowCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CalendarShowSelectedWorkout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ColorSchemeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".WorkoutService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="ForegroundServicePermission" />

    </application>

</manifest>